<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinshipark.cms.mapper.LincensePlateHistoryCustomizeMapper">
    <resultMap id="summaryVO" type="com.jinshipark.cms.vo.SummaryVO">
        <result column="parkId" property="parkId"/>
        <collection property="summaryVOList" ofType="com.jinshipark.cms.vo.SummaryVO">
            <result column="paymentType" property="paymentType"/>
            <result column="parkingCost" property="parkingCost"/>
            <result column="realCost" property="realCost"/>
            <result column="serviceFee" property="serviceFee"/>
        </collection>
    </resultMap>

  <select id="summary" parameterType="Map" resultType="com.jinshipark.cms.vo.SummaryVO">
    SELECT
      COUNT(1) AS carNum,
      SUM(lp_parking_cost) AS parkingCost,
      SUM(lp_parking_real_cost) AS realCost,
      SUM(CAST(ServiceFee AS DECIMAL(12, 2))) AS serviceFee
    FROM
	    lincense_plate_history
	WHERE
	    1=1
    <if test="parkId != null">
        AND lp_parking_name=#{parkId}
    </if>
	<if test="startTime != null">
      AND lp_departure_time&gt;=#{startTime}
    </if>
    <if test="endTime != null">
      AND lp_departure_time&lt;=#{endTime}
    </if>
  </select>
    <select id="summaryByPaymentType" parameterType="Map" resultType="com.jinshipark.cms.vo.SummaryVO">
        SELECT
            lp_payment_type AS paymentType,
            SUM(lp_parking_real_cost) AS realCost
        FROM
        lincense_plate_history
        WHERE
            1=1
        AND
            lp_payment_type IN (
            '扫码支付出场',
            '预付款出场',
            '人工收费出场'
            )
        <if test="parkId != null">
            AND lp_parking_name=#{parkId}
        </if>
        <if test="startTime != null">
            AND lp_departure_time&gt;=#{startTime}
        </if>
        <if test="endTime != null">
            AND lp_departure_time&lt;=#{endTime}
        </if>
        GROUP BY
        lp_payment_type
    </select>
  <!--汇总前一天的数据-->
    <select id="dailySummary" resultType="com.jinshipark.cms.vo.SummaryVO">
    SELECT
        lp_parking_name AS parkId,
        COUNT(1) AS carNum,
        SUM(lp_parking_cost) AS parkingCost,
        SUM(lp_parking_real_cost) AS realCost,
        SUM(CAST(ServiceFee AS DECIMAL(12, 2))) AS serviceFee
    FROM
	    lincense_plate_history
    WHERE
        DATE_FORMAT(
            lp_departure_time,
            '%Y-%m-%d'
        ) = date_sub(curdate(), INTERVAL 1 DAY)
    GROUP BY
	    lp_parking_name
  </select>
  <select id="dailySummaryByPaymentType" resultMap="summaryVO">
    SELECT
        lp_parking_name AS parkId,
        lp_payment_type AS paymentType,
        SUM(lp_parking_cost) AS parkingCost,
        SUM(lp_parking_real_cost) AS realCost
    FROM
	    lincense_plate_history
    WHERE
        DATE_FORMAT(
            lp_departure_time,
            '%Y-%m-%d'
        ) = date_sub(curdate(), INTERVAL 1 DAY) AND lp_payment_type in('扫码支付出场','预付款出场','人工收费出场')
    GROUP BY
	    lp_parking_name,lp_payment_type
	ORDER BY lp_parking_name
  </select>
</mapper>